<div class="container">
  <div class="row">
    <div class="col-md-3 d-flex align-items-center">
      <img class="rounded-circle img-fluid" src="https://media.licdn.com/dms/image/D4D03AQFLpZLZyNzqfw/profile-displayphoto-shrink_800_800/0/1680451326925?e=1687996800&v=beta&t=YKnChISAayNfepEG-YM5YdhIIpmkS0iGLqE0Z_hNUWM">
    </div>
    <div class="col-md-9 d-flex flex-column justify-content-evenly mt-5">
      <h3>Alan Christian</h3>
      <hr>
      <h3>Desenvolvedor fullstack</h3>
      <hr>
      <h3>{{idade}} anos</h3>
      <hr>
    </div>
  </div>
</div>
