<div class="container">
  <div class="row my-3">
    <div class="col-md-3 d-flex align-items-center">
      <img class="rounded-circle img-fluid" width="250" height="250"
        src="https://media.licdn.com/dms/image/D4D03AQFLpZLZyNzqfw/profile-displayphoto-shrink_800_800/0/1680451326925?e=1687996800&v=beta&t=YKnChISAayNfepEG-YM5YdhIIpmkS0iGLqE0Z_hNUWM">
    </div>
    <div class="col-lg-9 col-md-12">
      <h1>Alan Christian</h1>
      <h2>Desenvolvedor Fullstack</h2>
      <p class="my-3">
        Profissional de Sistemas de Informação com experiência em projetos colaborativos. <br>
        Habilidades sólidas em diversas tecnologias para enfrentar desafios e entregar resultados. <br>
        Disponível para colaborar em projetos inovadores e contribuir com soluções de qualidade. <br>
        Entre em contato para discutirmos oportunidades de trabalho conjunto.
      </p>
      <div class="d-flex justify-content-start mt-4">
        <a href="https://github.com/alan-christian">
          <i class="bi bi-github me-4 h5 text-dark"></i>
        </a>
        <a href="https://www.linkedin.com/in/alan-chris">
          <i class="bi bi-linkedin me-4 h5 text-dark"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=3491543214">
          <i class="bi bi-whatsapp me-4 h5 text-dark"></i>
        </a>
      </div>
    </div>
  </div>
</div>