.first_flex {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.second_flex {
  padding: 20px 100px;
}

.image {
  width: 48%;
  margin-right: 2%;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .first_flex {
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    padding: 1em;
  }

  .second_flex {
    padding: 1.5em;
  }

  .image {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }
}